$primary-color: #0073ea;
$primary-color-gradient: linear-gradient(90deg, rgba(0,115,234,1) 19%, rgba(65,99,242,1) 52%, rgba(135,153,246,1) 85%);
$primary-color-hover: #0060b9;
$primary-color-selected: #cce5ff;

$success-color: #258750;
$success-color-hover: #007038;
$success-color-selected: #bbdbc9;

$danger-color: #ff6161;
$danger-color-hover: #b63546;
$danger-color-selected: #f4c3cb;

$secondary-color: #6b717f;
$white-color: #fff;
$black-color: #323338;
$wolf-grey: #c5c7d0;
$ui-gray: #878787;
$river-stone: #f5f6f8;

$font-small: 13px;
$font-regular: 14px;
$font-large: 18px;
