.Leave-warning__Wrapper {
    background-color: #ffffe8;
    padding: 7px 10px;
    border-radius: 4px;
}

.Leave-request__Wrapper {
    background-color: #fff;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.equal-width {
    label {
        text-align: center;
        width: 125px;
    }
}