#about-us {
    padding: 25px 0;

    .section-title {
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .sub-title {
        margin-bottom: 20px;
    }

    .about-us-vector {
        display: flex;
        justify-content: center;
    }

    img {
        @media (min-width: 320px) and (max-width: 480px) {
            max-width: 320px;
        }

        @media (min-width: 480px) and (max-width: 991px) {
            max-width: 450px;
        }
    }
}