body {
  font-family: rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

#header {
  p {
    font-size: 14px;
    color: #5e629c;
    line-height: 26px;
    margin-bottom: 0;
  }

  a:hover,
  a:focus {
    color: #000;
  }

  a {
    color: #000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: poppins, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }

  a:not([href]):not([tabindex]) {
    color: #fff;
  }

  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    color: #fff;
  }

  .bg-transparent {
    background: 0 0 !important;
  }

  .bg-defult {
    background: #3c9cfd !important;
  }

  .section {
    padding: 130px 0;
  }

  .btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 4px;
    font-family: rubik, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    display: inline-block;
  }

  .btn:focus,
  .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  .btn-common {
    background-color: #3ecf8e;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    width: 160px;
    height: 50px;
    padding: 14px 15px;
  }

  .btn-common:hover {
    color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .btn-light-bg {
    background-color: #ff704f;
  }

  .btn-border {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    background-color: transparent;
    border-color: #3ecf8e;
    color: #3ecf8e;
    width: 160px;
    height: 50px;
    padding: 14px 15px;
  }

  .btn-border:hover {
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
  }

  .btn-border-filled {
    cursor: pointer;
    background-color: #3ecf8e;
    border: 1px solid #3ecf8e;
    color: #fff;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    width: 180px;
    height: 50px;
    padding: 15px;
  }

  .btn-border-filled:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
  }

  .btn-rm {
    color: #3c9cfd;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
  }

  .btn-rm i {
    vertical-align: middle;
  }

  .btn-singin {
    background: #7fc9fb;
    color: #fff;
    padding: 10px 23px;
    // margin-left: 30px;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
  }

  .btn-singin:hover,
  .btn-singin:active,
  .btn-singin:focus {
    color: #fff;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
  }

  .btn-light-singin:hover,
  .btn-light-singin:active,
  .btn-light-singin:focus {
    color: #fff;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
  }

  .btn-apple {
    border-width: 2px;
    border-color: #3c96ff;
    border-style: solid;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#3c96ff),
      to(#2dfbff)
    );
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .btn-apple i {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#3c96ff),
      to(#2dfbff)
    );
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-apple:hover,
  .btn-apple:active,
  .btn-apple:focus {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#3c96ff),
      to(#2dfbff)
    ) !important;
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  button:focus {
    outline: none !important;
  }

  .btn-border-fill {
    background: #fff;
    border-color: #fff;
    color: #3c9cfd;
  }

  .btn-subtitle {
    color: #191c1e;
    font-family: poppins, sans-serif;
    background: #dbecff;
    text-align: center;
    border-radius: 30px;
    padding: 6px 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .clear {
    clear: both;
  }

  .padding-0 {
    padding: 0;
  }

  .back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    width: 45px;
    height: 45px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: #53f;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
    z-index: 9999999;
  }

  .back-to-top i {
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .logo-menu a {
    font-size: 20px;
    color: #fff;
  }

  .menu-bg {
    background: #53f;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%) !important;
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .menu-bg .menu-button {
    top: 0;
  }

  .menu-bg .menu-button:hover {
    cursor: pointer;
    color: #3c9cfd;
  }

  .menu-bg .logo-menu a {
    color: #3c9cfd;
  }

  .menu-bg .navbar-nav .nav-link {
    color: #fff !important;
  }

  .menu-bg .navbar-nav .nav-link:hover {
    color: #fff !important;
  }

  .menu-bg .navbar-nav .active {
    color: #fff !important;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 8px 0;
    margin-left: 26px;
    font-family: poppins, sans-serif;
    position: relative;
    font-weight: 500;
  }

  .navbar-expand-md .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .navbar-expand-md .navbar-nav .active::before,
  .navbar-expand-md .navbar-nav .nav-link:hover::before {
    width: 100%;
  }

  .navbar-brand {
    color: #fff;
  }

  .navbar-expand-md .navbar-nav .nav-link:focus,
  .navbar-expand-md .navbar-nav .nav-link:hover,
  .navbar-expand-md .navbar-nav .nav-link:hover:before {
    color: #fff;
  }

  .navbar-expand-md .navbar-nav .active > .nav-link,
  .navbar-expand-md .navbar-nav .nav-link.active,
  .navbar-expand-md .navbar-nav .nav-link.active:before,
  .navbar-expand-md .navbar-nav .nav-link.open,
  .navbar-expand-md .navbar-nav .open > .nav-link {
    color: #fff;
  }

  .navbar-expand-md .navbar-toggler {
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    float: right;
  }

  .navbar-expand-md .navbar-toggler i {
    color: #fff !important;
  }

  .navbar-expand-md .navbar-toggler:focus {
    outline: none;
  }

  .navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .sticky {
    position: fixed;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .sticky .navbar {
    padding: 10px 0;
  }

  .navbar {
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    padding: 20px 0;
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-brand img {
    max-width: 150px;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 7px;
  }

  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
  }

  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    top: -7px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
      padding: 12px;
      border-radius: 4px;
    }
  }

  @media (max-width: 767px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 9;
      box-shadow: 0 15px 20px 0 rgba(51, 51, 51, 0.1);
      -moz-box-shadow: 0 15px 20px 0 rgba(51, 51, 51, 0.1);
      -webkit-box-shadow: 0 15px 20px 0 rgba(51, 51, 51, 0.1);
      -o-box-shadow: 0 15px 20px 0 rgba(51, 51, 51, 0.1);
      -ms-box-shadow: 0 15px 20px 0 rgba(51, 51, 51, 0.1);
      padding: 12px;
      border-radius: 4px;
    }
  }

  .navbar-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  }

  .navbar-nav .nav-item {
    margin-left: 25px;
    position: relative;
  }

  .navbar-nav .nav-item:first-child {
    margin-left: 0;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-left: 18px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      margin: 0;
    }
  }

  .navbar-nav .nav-item a {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    position: relative;
  }

  .navbar-nav .nav-item a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -10px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a::after {
      background: 0 0;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item a::after {
      background: 0 0;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
      display: block;
      padding: 6px 0;
      color: #333;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item a {
      display: block;
      padding: 6px 0;
      color: #333;
    }
  }

  .navbar-nav .nav-item a.btn-singin:hover {
    box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
    -moz-box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
    -webkit-box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
    -o-box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
    -ms-box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a.btn-singin {
      padding: 10px 30px;
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item a.btn-singin {
      padding: 10px 30px;
      margin-left: 0;
    }
  }

  .navbar-nav .nav-item a.btn-singin::after {
    display: none;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a.btn-light-singin {
      padding: 10px 30px;
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item a.btn-light-singin {
      padding: 10px 30px;
      margin-left: 0;
    }
  }

  .navbar-nav .nav-item a.btn-light-singin ::after {
    display: none;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item.active > a,
    .navbar-nav .nav-item:hover > a {
      color: #3ecf8e;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item.active > a,
    .navbar-nav .nav-item:hover > a {
      color: #3ecf8e;
    }
  }

  .navbar-nav .nav-item.active > a::after,
  .navbar-nav .nav-item:hover > a::after {
    width: 100%;
  }

  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
      top: 0;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
      top: 0;
    }
  }

  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
      position: relative;
      width: 100%;
      top: 0;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
      position: relative;
      width: 100%;
      top: 0;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  }

  .navbar-nav .nav-item .sub-menu li {
    display: block;
  }

  .navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #333;
  }

  .navbar-nav .nav-item .sub-menu li a.active,
  .navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #e33333;
  }

  .navbar-nav .sub-nav-toggler {
    display: none;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: 0 0;
      color: #333;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: 0 0;
      color: #333;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px;
    }
  }

  .navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: relative;
    top: -5px;
  }

  .hero-area {
    position: relative;
  }

  .hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #53f;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12;
  }

  .hero-area .overlay :nth-child(1) {
    width: 33.33333%;
    width: calc(100% / 2);
    top: 0;
    left: 16.66666%;
    left: calc(calc(100% / 3) / 2);
    right: auto;
    background: #53f;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    height: 200px;
  }

  .hero-area .overlay :nth-child(2) {
    width: 33.33333%;
    width: calc(100% / 3);
    bottom: 0;
    background: #53f;
    background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
    position: absolute;
    height: 155px;
    left: 3%;
  }

  .hero-area .contents {
    padding: 220px 0;
  }

  @media (max-width: 767px) {
    .hero-area .contents {
      padding-bottom: 0;
    }
  }

  .hero-area .contents h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-area .contents h2 br {
      display: none;
    }
  }

  .hero-area .contents p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
  }

  .hero-area .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    padding: 15px;
  }

  .hero-area .contents .btn-border {
    border: 1px solid #fff;
    color: #3ecf8e !important;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
      0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 180px;
    height: 50px;
    padding: 15px;
    background: #fff;
  }

  .hero-area .contents .btn-border:hover {
    background: #fff;
    color: #3ecf8e;
  }

  .hero-area .intro-img {
    margin: 180px 0 0;
    background: url("../../../assets/images/intro.png") no-repeat center center;
    background-size: contain;
    height: 470px;
    width: 100%;
  }

  .blog-hero-area {
    // background: url(../img/hero-area.jpg) no-repeat;
    background-size: auto;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
  }

  .btn.disabled,
  .btn:disabled {
    opacity: 1;
  }

  #blog-single textarea {
    border-radius: 4px !important;
  }

  .text-danger {
    font-size: 14px;
    margin-top: 10px;
  }

  .list-unstyled li {
    color: #d9534f;
  }

  @media only screen and (min-width: 2160px) {
    #showcase .showcase-area {
      width: 98%;
    }

    #showcase .showcase-slider .screenshot-thumb p {
      color: #fff;
      font-size: 20px;
      font-style: italic;
      margin-bottom: 10px;
    }

    #showcase .showcase-slider .screenshot-thumb > .hover-content {
      width: 89% !important;
      height: 89% !important;
    }

    .hero-area .overlay :nth-child(1) {
      height: 294px !important;
    }
  }

  @media screen and (min-width: 1920px) {
    .hero-area .contents {
      padding: 280px 0 390px;
    }

    .hero-area .overlay :nth-child(1) {
      height: 250px;
    }

    .showcase-slider .owl-item img {
      width: 100%;
    }

    #showcase .showcase-slider .screenshot-thumb > .hover-content {
      width: 85%;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .hero-area .contents h2 {
      font-size: 38px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
      padding: 12px 5px;
      font-size: 13px;
      margin-left: 15px;
    }

    .hero-area .contents {
      padding: 210px 0 280px;
    }

    .section {
      padding: 80px 0;
    }

    .hero-area .contents h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .hero-area .contents h2 {
      color: #fff;
      font-size: 40px !important;
    }

    .navbar-expand-md .navbar-nav .nav-link {
      padding: 12px 0;
      font-size: 13px;
      margin-left: 12px;
    }

    .hero-area .contents {
      padding: 200px 0 0;
    }

    .contact-img img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    .hero-area .intro-img {
      margin: 100px auto 0px auto;
    }

    .blog-hero-area .contents h2 {
      font-size: 36px;
    }

    .btn-singin {
      background: #7fc9fb;
      color: #fff;
      padding: 10px 14px;
      // margin-left: 12px;
      -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
      box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
      font-size: 11px;
    }

    .btn-light-singin {
      background: #7fc9fb;
      color: #fff;
      padding: 10px 14px;
      margin-left: 12px;
      -webkit-box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
      box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
      font-size: 11px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
      padding: 12px 0;
      font-size: 13px;
      margin-left: 9px;
    }

    .pt-70 {
      padding-top: 20px;
    }

    .px-0 {
      padding-right: 15px !important;
    }
  }

  @media only screen and (max-width: 767px) {
    .bg-inverse {
      background: #191c1e;
    }

    .navbar-expand-md .navbar-brand,
    .navbar-expand-md .navbar-toggler {
      margin: 6px 15px;
    }

    .bg-inverse {
      background: #191c1e;
    }

    .navbar {
      padding: 10px 0;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .bg-inverse {
      background: #191c1e;
    }

    .navbar {
      padding: 10px 0;
    }

    .navbar-expand-md .navbar-brand,
    .navbar-expand-md .navbar-toggler {
      margin: 6px 15px;
    }

    .btn-singin {
      color: #fff;
      padding: 10px 23px;
      margin-left: 0;
      -webkit-box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
      box-shadow: 0 0 0 0 rgba(96, 94, 94, 0.17);
    }

    .hero-area .contents h2 {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 10px;
    }

    .hero-area .contents {
      padding: 200px 0 50px;
    }

    .hero-area .contents p {
      color: #fff;
      font-size: 14px;
      line-height: 26px;
    }

    .hero-area .contents .btn {
      margin-top: 30px;
      margin-right: 4px;
      text-transform: uppercase;
      width: 125px;
      height: 45px;
      padding: 15px 14px;
      font-size: 12px;
    }

    .hero-area .contents .btn-border {
      border: 1px solid #fff;
      color: #fff;
      -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
        0 1px 3px rgba(0, 0, 0, 0.08);
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
        0 1px 3px rgba(0, 0, 0, 0.08);
      width: 135px;
      height: 45px;
      padding: 15px;
    }

    .hero-area .intro-img {
      margin: 0px;
    }

    .section {
      padding: 70px 0;
    }

    .back-to-top {
      display: none !important;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1280px) {
    .navbar-expand-md .navbar-nav .nav-link {
      font-size: 15px;
      padding: 8px 0;
      margin-left: 18px;
    }

    .hero-area .contents h2 {
      font-size: 38px;
    }

    .section {
      padding: 100px 0;
    }

    .feature-info {
      width: 80%;
    }

    .feature-info {
      width: 68%;
    }

    .hero-area .contents p {
      color: #fff;
      font-size: 16px;
      line-height: 26px;
    }

    .hero-area2 .contents p {
      color: #fff;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .whatsapp-icon {
    width: 27px;
    margin-top: -4px;
  }

  .student-login {
    margin-left: 94px;
  }
}
